*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.icon-btn{

    .btn{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        border-radius: 15px;
        border: none;
        padding: 8px 18px;

        .btn-text{
            margin-left: 5px;
        }
    }
}