*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.podcast-card{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    padding: 35px 0px 0px 25px;
    min-height: 176px;
    width: 90%;
    .podcast-details{
      max-width: 221.58px ;
      .heading{  
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
      }
      .description{
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
      }
    }
    
}
