.footer {
  height: 374px;
  background: #272833;
  position: relative;
  overflow: hidden;

  .footer_lines {
    position: absolute;
    top: -165px;
  }
  @media screen and (max-width: 1024px) {
    height: 150px;
  }
  @media screen and (max-width: 1023px) {
    height: 150px;
    overflow: hidden;
    .footer_lines {
      position: absolute;
      top: -165px;
    }
  }
  @media screen and (max-width: 767px) {
    height: 100px;
    overflow: hidden;
    .footer_lines {
      position: absolute;
      top: -165px;
    }
  }
}
