$base-gray: #DEDEDE;
$base-orange: #F14A03;


.entire-curriculum-and-testimonials-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    .curriculum-container{
      width: 83%;
      background-color: #141D26;
      border-radius: 20px;
      padding: 5%;
      z-index: 999;
      padding-bottom: 15%;

      .heading-container{
        width: 40%;
        margin: 0 auto;
        margin-bottom: 5%;
        text-align: center;
        .header{
          font-size: 25px;
          font-weight: bold;
        }
        .sub-header{
          color: $base-gray;
          font-size: 14px;
          line-height: 16px;
          margin-top: -5%;
        }
      }
      .bonus-card-container{
        width: 70%;
        margin: 0 auto;
        margin-top: 5%;

        .swipe-arrows-container{
          width: 50%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin-top: 10%;
          .arrow{
            text-align: center;
            cursor: pointer;
            transition: .3s;
            :hover{
              color: $base-orange;  
            }
          }
        }
      }
      .program-cost-container{
        width: 70%;
        margin: 0 auto;
        margin-top: 5%;
        .program-cost-header{
          font-size: 25px;
          font-weight: 600;
        }
        .inner-cost-container{
          display: flex;
          margin-left: 3%;
          .cost-flex-1{
            font-size: 39px;
            line-height: 10px;
            font-weight: 700;
          }
          .cost-flex-2{
            line-height: 10px;
            margin-left: 5%;
            font-size: 35px;
            font-weight: bold;
            p{
              color: #B60000;
              text-decoration: line-through white;
            }
          }
        }
      }
    }
    .testimonials-container{
        background-color: #061088;
        width: 100%;
        margin-top: -5%;
        padding: 8%;
    }









  @media screen and (max-width: 800px) {
    .curriculum-container{
      margin-top: 15%;
      width: 100%;
      border-radius: 0;
      .heading-container{
        width: 70%;
        .header{
          font-size: 16px;
        }
        .sub-header{
          font-size: 12px;
        }
      }
      .bonus-card-container{
        width: 90%;
      }
      .program-cost-container{
        width: 90%;
        margin-top: 15%;
        .program-cost-header{
          font-size: 22px;
        }
        .inner-cost-container{
          .cost-flex-1{
            font-size: 30px;
          }
          .cost-flex-2{
            font-size: 25px;
          }
        }
      }
    }
    .testimonials-container{
      padding-top: 15%;
    }
  }
}