.payment-options-modal{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 12px;
  h4{
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 3%;
  }
  .bank-details-headers{
    line-height: 5px;
    span{
      font-weight: 500;
      padding-right: 2%;
    }
    .account-number{
      letter-spacing: 3px;
    }
  }
  .upload-receipt-instruction{
    line-height: 18px;
    font-size: 12px;
    background-color: rgb(155, 255, 155);
    padding: 2%;
    color: green;
    font-weight: 500;
  }
}
.payment-modal-container{
  font-family: 'Montserrat', sans-serif;
  h3{
    color: #061088;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3%;
  }
  .top-discount-message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
  }
  .price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 5%;
    .main-price{
      font-weight: 600;
      font-size: 20px;
      text-decoration: line-through;
   }
    .discount-price{
      font-weight: 600;
      font-size: 26px;
    }
  }
  .bottom-text{
    width: 85%;
    font-size: 11px;
    color: #061088;
    line-height: 142.9%;
    font-weight: 500;
    margin-top: 2%;
  }
}