
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

.folder-page-container{
  padding: 25px 0px 0px 39px;

  .folder-page-mobile{
    display: none;
  }
  .content{
    margin-top: 14px;
  
    .video-lesson-details{
      max-height: 78vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
    }
    }
    .lesson-description-wrapper{
      margin: 22px 0 24px 38px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
    }
  }
  @media (max-width:800px){
    padding: 0px;
    .folder-page-desktop{
      display: none;
    }
    .folder-page-mobile{
      display: block;

      .instructor-mobile-card-wrapper{
        max-width: 547px;
        width: 100%;
      }
    }
  }
}




.assignment-modal-container{
  .heading-text{
    font-weight: 600;
    font-size: 16px;
    color: #061088
  }
  p{
    font-size: 12px;
  }
  .assignment-modal-section-box{
    margin-bottom: 10%;
  }
  .warning-container{
    background-color: #FFE0E0;
    padding: 2%;
    color: #DB0000;
    margin-bottom: 11%;
  }
}