.side-nav-section{
    margin-top: 70%;
}

.side-nav-item-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2%;
    padding: 7%;
    padding-left: 14%;
    .side-nav-item-link{
        padding-left: 10px;
        color: #061088
    }
}