* {
  margin: 0px;
  padding: 0px;

  .registration-page {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    top: 0;

    .image {
      background-image: url('https://res.cloudinary.com/dmrdnero7/image/upload/v1654783588/frontendMentorship/signup_background_img_x4xjpk.png');
      background-size: cover;
      background-position: center;
      width: 46%;
      height: 100vh;
      position: fixed;

      .sub_container {
        background: rgba(255, 242, 216, 0.44);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        .text_container {
          width: 75%;

          height: 277px;
          background: #fffefb;
          border-radius: 15px;
          margin: auto;
          margin-top: 300px;
          padding: 40px;
          @media screen and (max-width: 1024px) {
            width: 85%;
            height: 300px;
            margin-top: 200px;
          }
          .welcome_header {
            text-align: center;
            font-size: 64px !important;
            line-height: 87px !important;
          }
          .sub_text {
            font-size: 20px !important;
            line-height: 27px !important;
            text-align: center;
            margin: auto;
          }
        }
      }
    }

    .form-container {
      margin-top: 12%;
      width: 100%;
      .form_sub_container {
        width: 70%;
        margin: auto;
        .each_input_fild {
          padding-bottom: 20px;
          .input_field_container {
            position: relative;
            width: 100%;
            .icon {
              position: absolute;
              right: 0;
              color: #0a1165 !important;

              bottom: 22px;
              margin-right: 20px;
            }
          }
          p {
            margin-bottom: 0px !important;
          }
        }

        .form_header {
          font-weight: 600 !important;
          font-size: 35px !important;
        }
        .submit-btn {
          width: 100% !important;
          height: 69px !important;
          border-radius: 15px !important;
          margin-top: 36px;
          margin-bottom: 40px;
        }
        .gender-container {
          margin-top: 25px;
          span.ant-radio + * {
            padding-right: 8px;
            padding-left: 8px;
            font-size: 16px;
            color: black;
            font-weight: 600;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .registration-page {
      height: 100vh;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      bottom: 0;
      top: 0;
      .image {
        width: 100%;
        height: 100vh;
        position: relative;
        .sub_container {
          background: rgba(255, 242, 216, 0.44);
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          bottom: 0;
          .text_container {
            width: 85%;
            height: 277px;
            background: #fffefb;
            border-radius: 15px;
            margin: auto;
            margin-top: 130px;
            padding: 80px 20px;
            .welcome_header {
              text-align: center;
              font-size: 40px !important;
              line-height: 20px !important;
            }
            .sub_text {
              font-size: 16px !important;
              line-height: 20px !important;
              text-align: center;
              margin: auto;
            }
          }
        }
      }
      .form-container {
        margin-top: 20%;
        width: 100%;
        .form_sub_container {
          width: 70%;
          margin: auto;
          .form_header {
            font-weight: 600 !important;
            font-size: 28px !important;
            margin-bottom: 0 !important;
          }

          .each_input_fild {
            padding-bottom: 10px;
            .input_field_container {
              position: relative;
              width: 100%;
              .icon {
                position: absolute;
                right: 0;
                color: #0a1165 !important;
                transform: scale(1.5);
                bottom: 15px;
                margin-right: 20px;
              }
            }
            p {
              margin-bottom: 0px !important;
            }
          }

          .gender-container {
            margin-top: 0px;
            span.ant-radio + * {
              margin-right: 20px;
            }
          }

          .submit-btn {
            width: 100% !important;
            height: 40px !important;
            border-radius: 15px !important;
            margin-top: 10px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .registration-page {
      height: 100vh;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      .ant-row {
        display: block;
        .image {
          width: 100%;
          height: 500px;
          position: relative;
          .sub_container {
            width: 100%;
            height: 500px;
            position: relative;
            padding-top: 100px;
            .text_container {
              width: 85%;
              height: 277px;
              border-radius: 15px;
              margin: auto;
              margin-top: 0px;
              padding: 40px;
              @media screen and (max-width: 320px) {
                padding: 20px;
              }
              .welcome_header {
                text-align: center;
                font-size: 50px !important;
                line-height: 30px !important;
                padding-top: 20px;
                @media screen and (max-width: 320px) {
                  font-size: 30px !important;
                }
              }
              .sub_text {
                font-size: 18px !important;
                line-height: 27px !important;
                text-align: center;
                margin: auto;
                @media screen and (max-width: 320px) {
                  font-size: 16px !important;
                }
              }
            }
          }
        }
        .form-container {
          margin-top: 15%;
          width: 100%;

          .form_sub_container {
            width: 85%;
            height: 100%;
            margin: auto;
            .each_input_fild {
              padding-bottom: 15px;
              .input_field_container {
                position: relative;
                width: 100%;
                .icon {
                  position: absolute;
                  right: 0;
                  color: #0a1165 !important;
                  transform: scale(1.5);
                  bottom: 13px;
                  margin-right: 20px;
                }
              }
              p {
                margin-bottom: 0px !important;
              }
            }

            .form_header {
              font-weight: 600 !important;
              font-size: 35px !important;
              @media screen and (max-width: 320px) {
                font-size: 25px !important;
              }
            }

            .gender-container {
              margin-top: 20px;
              span.ant-radio + * {
                padding-right: 8px;
                padding-left: 8px;
                font-size: 16px;
                color: black;
                font-weight: 600;
                margin-right: 20px;
              }
            }
            .submit-btn {
              margin-top: 30px;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
