*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.achievements{
    h1{
        color: #061088;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        margin-top: 12px;
        line-height: 90.9%;
        margin-bottom: 45px;
    }

    @media screen and (max-width: 800px) {
        padding: 5%;
        padding-top: 1%;
    }

}