$base-gray: #DEDEDE;

.bonus-card{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    .image-container{}
    .bonus-card-description-container{
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .bonus-heading{
            font-size: 22px;
            font-weight: 600;
            line-height: 27px;
        }
        .bonus-description{
            font-size: 18px;
            color: $base-gray;
            line-height: 19px;
        }
    }


    @media screen and (max-width: 800px) {
        margin-top: 10%;
        .bonus-card-description-container{
            position: relative;
            .bonus-heading{
                font-size: 16px;
                line-height: 20px;
                width: 85%;
                margin: 0 auto;
                margin-bottom: 1%;
            }
            .bonus-description{
                font-size: 12px;
            }
        }
    }
}