.overall-nav-container{
  height: 50px;
}
.navigation_container{
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  position: fixed;
  background-color: white;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 16px;
    letter-spacing: 0.085rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  .hamburger-icon{
    display: none;
  }
  .right-side-nav{
    font-size: 18px;
  }
  @media screen and (max-width: 500px) {
    .logo{
      font-size: 12px;
      margin-left: -12%;
    }
    .right-side-nav{
      display: none;
    }
    .hamburger-icon{
      display: block;
      font-size: 20px;
      margin-top: 7%;
    }
  }
}

.side-drawer{
  z-index: 999999;
  background-color: rgba(255, 68, 0, .3);
}