.overall-nav-container{
  height: 50px;
}
.navigation_container{
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  position: fixed;
  background-color: white;
  z-index: 9999;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 14px;
    letter-spacing: 0.085rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
  .hamburger-icon{
    display: none;
  }
  .right-side-nav{
    font-size: 14px;
  }
  .user-avatar-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
  }
  .user-avatar-container-img{
    width: 40px;
    height: 40px;
    border-radius: 20px
  }
  .user-avatar-container-name{
    font-size: 16px;
   margin-top: 15%;
   margin-left: 10px
  }
  @media screen and (max-width: 760px) {
    .logo{
      font-size: 12px;
    }
    .right-side-nav{
      display: none;
    }
    .hamburger-icon{
      display: block;
      font-size: 20px;
      margin-top: 100%;
    }
    .user-avatar-container{
      width: 30px;
    }
    .user-avatar-container-img{
      width: 30px;
      height: 30px;
      border-radius: 15px
    }
    .user-avatar-container-name{
      display: none;
    }
  }
}
@media screen and (max-width: 425px){
  .logo{
    margin-left: -12%;
  }
  .payment-button-container{
    display: none;
  }
}
.side-drawer{
  z-index: 999999;
  background-color: rgba(255, 68, 0, .3);
}