$base-orange: #F14A03;
$base-white: #ffffff;


.entire-top-section{
    background-color: $base-white;
    font-family: 'Montserrat', sans-serif;
    .flex-1{
        padding-left: 7%;
        padding-top: 8.5%;
        h1{
            font-weight: bold;
            line-height: 42px;
            font-size: 40px;
            color: #061088;
        }
        p{
            color: #484848;
            font-size: 16px;
            min-height: 60px;
            line-height: 21px;
            margin-top: 5%;
        }
        .large-screen-button{
            margin-top: -3.3%;
        }
        .small-screen-button{
            display: none;
        }
    }
    .flex-2{
        padding-top: 2.3%;
        .top-image{
            width: 85%;
            margin-left: 6%;
        }
    }
    @media screen and (max-width: 800px) {
        .flex-container{
            height: 70vh;
        }
        .flex-1{
            h1{
                font-size: 22px;
                line-height: 27px;
                margin-top: 4%;
            }
            p{
                font-size: 12px;
            }
            .large-screen-button{
                display: none;
            }
            .small-screen-button{
                display: block;
                margin-top: -5%;
            }
        }
        .flex-2{
            padding-top: 5%;
            padding-bottom: 8%;
            .top-image{
                width: 90%;
            }
        }
    }
}