$base-orange: #F14A03;
$base-white: #ffffff;


.entire-top-section{
    background-color: $base-white;
    height: 75vh;
    font-family: 'Montserrat', sans-serif;
    .flex-2{
        padding-left: 5%;
        padding-top: 7.5%;
        h1{
            font-weight: bold;
            line-height: 49px;
            font-size: 40px;
        }
        p{
            color: #585858;
            font-size: 18px;
        }
        .small-screen-button{
            display: none;
        }
    }
    .flex-1{
        .image-container{
            height: 75vh;
            background-image: url("https://res.cloudinary.com/dcft8yhab/image/upload/v1617748176/Ada_Studio_Picture.jpg");
            background-size: cover;
        }
    }
    @media screen and (max-width: 800px) {
        .flex-container{
            flex-direction: column-reverse;
        }
        .flex-2{
            h1{
                font-size: 22px;
                line-height: 27px;
                margin-top: 4%;
            }
            p{
                font-size: 12px;
            }
            .large-screen-button{
                display: none;
            }
            .small-screen-button{
                display: block;
            }
        }
        .flex-1{
            .image-container{
                width: 300px;
                height: 35vh;
                margin: 0 auto;
                margin-top: 10%;
                margin-bottom: 30%;
                background-position-y: center;
            }
        }
    }
}