*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lesson-folder{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding: 23px 0px 25px 18px;
  box-sizing: border-box;
  margin-top: 12px;
  border-radius: 15px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .folder-image{
      width: 100%;
      border-radius: 10px;
      max-width: 107px;
  }
  .folder-details{
    margin-left: 15px;
    margin-top: 13px;
    font-style: normal;
    line-height: 17px;

    .folder-title{
        color: #0A1165;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 17px;

    }
    .folder-link{
        color: #F14A03;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .link-icon{
        font-size: 13px;
    }
  }
  .check-mark{
      color: #F14A03;
      font-size: 14px;
  }
  .lesson-folder-locked-container{
    display: none;
  }
  &.lesson-folder-locked .lesson-folder-locked-container{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    .lock-icon-container{
      background-color: #F14A03;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 80%;
      margin-top: 10%;
      .lock-icon{
        color: white;
        font-size: 15px;
        opacity: 1;
      }
    }
    .warning-text{
      position: relative;
      top: -20px;
      opacity: 0;
      color: red;
      font-size: 90%;
      padding: 10px;
      border-radius: 15px;
      background-color: white;
      transition: all 1s ease;

    }
    .animate-text-in{
      animation: animate-in .2s ease 0s 1 forwards;
    }
    @keyframes animate-in {
      0%{ top: -20px; opacity: 0;}
      25%{ top: -15px; opacity: 0.25;}
      50%{ top: -10px; opacity: 0.5;}
      75%{ top: -5px; opacity: 0.75;}
      100%{ top: 0px; opacity: 1;} 
    }
  }

  @media screen and (max-width: 800px) {
    height: 100.28px !important;
    padding-top: 5%;
    padding: 1%;
    .folder-details{
      .folder-title{
        font-size: 16px;
      }
    }
  }
}
.lesson-incompleted{
    background: rgba(255, 255, 255, 0.86);
}
.lesson-completed{
    background: rgba(255, 255, 255, 0.46);
}

//

