.dashboard-container{
    .side-nav{
        background-color: white;
    }
    .dashboard-content{
        height: calc(100vh - 64px);
        overflow: scroll !important;
    }

    @media screen and (max-width: 800px) {
        .side-nav{
            display: none;
        }
    }
}