body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #1d1c1c;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5c00;
  box-shadow: inset 1px 1px 2px black;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #061088;
}

svg path {
  transition: 0.3s;
  transform-origin: 0px;
}
svg.close path:nth-child(1) {
  d: path("M 3 16.5 L 17 2.5") !important;
}
svg.close path:nth-child(2) {
  opacity: 0;
}
svg.close path:nth-child(3) {
  d: path("M 3 2.5 L 17 16.346") !important;
}
