body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #1d1c1c;
  border-radius: 100px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff5c00;

  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b44d11;
}
