*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.achievement{
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
   
    &-details{
        text-align: center;
        padding: 0px 10px;
        .icon{
            width: 44px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            background: rgba(255, 76, 0, 0.22);
            border-radius: 10px 0px 20px;
            margin-bottom: 10px;
            font-size: 20px;

            .fa-trophy{
                width: 13.4px;
                height: 16px;
            }
        }
        .achievement-tItle{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #000;
        }
    }
}
.achievement-unlocked{
    border-radius: 15px;
    background-color: white;
}
.achievement-locked{
    background: rgba(194, 194, 194, 0.76);
    border-radius: 15px;
}