*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-player-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .video{
    width: 100%;
    border: none;
    max-height: 388px;
  }
  
  .video-button-wrapper{

    position: absolute;
    background-color: hsl(235, 92%, 28%);
    margin-top: -25px;
    border-radius: 20px;
    width: 90px;
    height: 67.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 767px){
      display: none;
    }

    .video-button {
      
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      
      height: 36.42px;
    
      border-color: transparent transparent transparent white;
      transition: 100ms all ease;
      cursor: pointer;
    
      // play state
      border-style: solid;
      border-width: 18.21px 0 18.21px 25px;
    

      &.paused {
        border-style: double;
        border-width: 0 0 0 24px;

      }
    
      &:hover {
        border-color: transparent transparent transparent white;
      }
    }
  }

}